// for .env
NEXTAUTH_URL="<link to your site or local address, for example: 'https://stunning-broccoli-r9xgj74vj492w5j-3000.app.github.dev/'>"
DATABASE_URL="postgresql://<user_name>:<password>@localhost:5432/offer_insight"
EMAIL_SERVER="smtp://<email account>:<smtp:password>@smtp.gmail.com:587"
EMAIL_FROM="offerinsighthelpdesk@gmail.com"

// for .env.local
AUTH_SECRET="1234567890"
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""