/* Page2-specific header */
.onboarding-page2 .onboarding-header {
  max-width: 500px;
}

.onboarding-page2 .welcome-text {
  font-size: 32px;
}


.onboarding-page2 .form-label {     
  text-align: center;
}

.onboarding-page2 .onboarding-container {
  max-width: 100%;
  padding: 0px; 
}



.onboarding-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}









/* Sidebar styles */
.action-plan-sidebar {
  /*flex: 1;*/
  background-color: #2563EB; /* Royal blue color */
  color: white;
  padding: 30px;
  height: 100%; 
  width: 450px; /* Adjust width as needed */
  flex-shrink: 0; /* Prevents it from shrinking */

}

.sidebar-logo {
  display: flex;
  align-items: center;
}

.sidebar-logo img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.sidebar-section {
  margin-bottom: 25px;
}

.sidebar-section h3 {
  font-size: 20px;
  font-weight: bold;
  color: #B4CDFF;
  margin-bottom: 10px;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar-item .value {
  font-size: 18px;
  font-weight: 600; 
}

.value-pill {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px
}

.metrics-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.metric-box {
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.metric-value {
  font-size: 36px;
  font-weight: 600;
}

/* Add these styles to your existing CSS file */
.sidebar-inactive {
  opacity: 0.6;
  background-color: #a0a0a0; /* Darker gray color */
  transition: all 0.3s ease;
}

.sidebar-active {
  opacity: 1;
  background-color: #2563EB; /* Using the same royal blue color as defined earlier */
  transition: all 0.3s ease;
}

.calculator-heading {
  font-size: 1.8rem;
  padding: 1.5rem 0;
  font-weight: 600;
}